{
  "serverDomain" : "burpcollaborator.XXXX.com",
  "workerThreads" : 10,
  "logLevel": "debug",

  "eventCapture": {
      "localAddress" : "X.X.X.X",
      "publicAddress" : "X.X.X.X",

      "http": {
         "ports" : 9980
       },

      "https": {
          "ports" : 9443
      },

      "smtp": {
          "ports" : [9925, 9587]
      },

      "smtps": {
          "ports" : 9465
      },


      "ssl": {
          "certificateFiles" : [
              "/home/burp/certs/XXX.pkcs8",
              "/home/burp/certs/XXX.pem",
              "/etc/pki/tls/certs/XXX.pem" ]
      }
  },

  "dns": {
      "ports" : 9953
  }
}
